@tailwind base;
@tailwind components;
@tailwind utilities;

img,
video {
  max-width: 80%;
  height: auto;
}

@font-face {
  font-family: "MyFont";
  /* src: local("MyFont"), url(./assets/AutumnFlowers-9YVZK.otf) format("otf"); */
  /* src: url(./assets/AnandaBlackPersonalUseRegular-rg9Rx.ttf); */
  /* src: url(./assets/Hatficeld-WyEwv.otf); */
  /* src: url(./assets/Sanfford-MVPDw.otf); */
  /* src: url(./assets/ShillowDemo-1GW0M.otf); */
  src: url(./assets/CarenyRegular-GO27Z.ttf);
}
@font-face {
  font-family: "YouFont";
  /* src: local("MyFont"), url(./assets/AutumnFlowers-9YVZK.otf) format("otf"); */
  /* src: url(./assets/AnandaBlackPersonalUseRegular-rg9Rx.ttf); */
  /* src: url(./assets/Hatficeld-WyEwv.otf); */
  /* src: url(./assets/Sanfford-MVPDw.otf); */
  /* src: url(./assets/ShillowDemo-1GW0M.otf); */
  src: url(./assets/PlayfairDisplayRegular-ywLOY.ttf);
  /* src: url(./assets/Ronysiswadi15-51Dv8.ttf); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MyFont";
  /* font-size: 4rem; */
  /* font-weight: 600;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem; */
}

p {
  font-family: "YouFont";
  /* font-size: 2rem; */
}
